.nav-link-btn {
    display: flex;
    flex-direction: row;
    background-color: var(--col2);
    color: var(--colWhite);
    border: solid 1px var(--col2);
    border-radius: 3px;
    padding: 8px 12px;
    font-family: var(--font1);
	font-size: 18px;
	margin-right: 15px;
    width: max-content;
    transition: 0.5s;
}

.nav-link-btn:hover {
    background-color: var(--col1);
    border: solid 1px var(--col3);
    color: var(--col3);
    transition: 0.5s;
}

.hero-btn,
.tblue-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--col2);
    color: var(--colWhite);
    border-radius: 4px;
    padding: 8px 20px;
    font-family: var(--font1);
    font-size: 22px;
    width: max-content;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.24);
    transition: 0.4s;
}
.hero-btn:hover {
    background-color: var(--col3);
    transition: 0.4s;
}

.tblue-btn {
    background-color: var(--col3);
}
.tblue-btn:hover {
    background-color: var(--col5);
}

/* Arrow Hover Effect */
.btn-arr i {
    transform: translateX(0);
    transition: 0.24s;
}
.btn-arr:hover i {
    transform: translateX(6px);
    transition: transform 0.24s;
}
