@import "../fonts/RedHatDisplay_Font/Fonts/WEB/css/red-hat-display.css";
@import "buttons.css";
@import "cards.css";
@import "transitions.css";

:root {
	--col1: #f6eddc;
	--col2: #744d28;
    --col3: #073040;
	--col4: #1a6060;
	--col5: #aa8741;
	--colWhite: #fff;
	--colBlack: #0f0f0f;
}

*,
*::before,
*::after {
	box-sizing: border-box !important;
}

body {
	background-color: var(--colWhite);
	overflow-x: hidden !important;
    margin: 0;
    padding: 0;
	font-family: 'RedHatDisplay-Regular', sans-serif;
	color: var(--colBlack);
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'RedHatDisplay-Medium', sans-serif;
}

a {
	text-decoration: none;
}


/* NAVBAR */
.navbar {
	margin: 0 auto;
	background-color: var(--col1);
	z-index: 9;
}

.nav-link,
.navbar-brand {
	color: var(--col3) !important;
	cursor: pointer;
}

.navbar-brand img {
	width: 220px;
    height: auto;
}

.navbar-toggler-icon {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(7, 48, 64, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.nav-link {
	font-family: 'RedHatDisplay-Regular', sans-serif;
	font-size: 18px;
	padding: 0px 3px 0px 3px;
	margin-right: 15px;
}

.nav-link:hover {
	text-decoration: underline solid 1px var(--col3);
}

.nav-icon i {
	color: var(--col3);
	font-size: 20px;
	padding-left: 4px;
	transition: transform 0.5s ease-out;
}

.nav-icon i:hover {
	padding-left: 0px;
	font-size: 24px;
	transform: scale(1.3);
	transition: transform 0.5s ease-in;
}

.nav-icon:nth-child(1) {
	margin-right: 15px;
}

/* navbarToggler Appearance */
@media screen and (max-width: 991px) {
	.navbar-nav {
		margin-top: 10px;
	}

	.nav-item {
		border-bottom: solid 1px var(--col5);
		padding: 12px 0 12px 6px;
	}
}

@media screen and (max-width: 767px) {
	.navbar .container {
		padding-inline: 0px;
	}

	.navbar-brand {
		margin-left: 16px;
	}

	.navbar-toggler {
		margin-right: 16px;
	}

	.nav-item {
		padding-left: 12px;
	}

	.nav-link {
		font-size: 18px;
	}
}

@media screen and (max-width: 575px) {
	.navbar-nav {
		border-top: solid 1px #65010139;
		padding-top: 7px;
	}
}


/* HERO */
.hero .carousel-item img {
  height: 88vh;
  object-fit: cover;
  filter: brightness(70%);
}

.hero .carousel-caption {
  top: 0;
  bottom: 0;
  text-align: center;
}
.hero .carousel-caption h1 {
	font-size: 44px;
}
@media screen and (max-width: 500px) {
	.hero .carousel-caption h1 {
		font-size: 40px;
	}
}
.hero .carousel-caption h1,
.hero .carousel-caption p {
	color: var(--col1);
	text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.24);
}


/* ABOUT */
.about {
	background-color: var(--col2);
	color: var(--col1);
}


/* VISION-MISSION */
.vision-mission {
	background-color: var(--col1);
}

.vision-mission h1 {
	color: var(--col3);
}

.vision-mission p {
	color: var(--col4);
	padding-bottom: 72px;
}


/* WHAT WE DO */
.what-we-do {
	background-color: var(--col1);
}
.what-we-do h1 {
	color: var(--col3);
}


/* DONATE */
.donate {
	background-color: var(--col2);
}
.donate h2,
.donate p {
	color: var(--col1);
}


/* FOOTER */
footer {
	background-color: var(--col3);
	color: var(--col1);
}

footer img {
	width: 240px;
}

footer ul li a,
footer .social a i {
    color: var(--col1);
}

footer ul li a:hover {
	color: var(--col5);
	text-decoration: underline solid 1px var(--col5);
    transition: 0.5s;
}

footer .social a i:hover {
    color: var(--col5);
}

footer hr {
    width: 88%;
}

.copyright,
.copyright a{
    color: var(--col1);
}
.copyright a {
	text-decoration: underline solid 1px var(--col3);
}

